/*HEADER Styles
.btn__menu
.btn__menu__icon
.btn__menu__icon--active-js
.nav
.nav--visible-js
.nav__item
.nav__anchor
.header__title
.nav__list
*/
header {
  height: 5.1em;
  background-color: #fff; }

.btn__menu {
  width: 4.25em;
  height: 4.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 0.625em;
  margin-right: 0.625em;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #43346d;
  -webkit-box-shadow: 0 6px 13px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 6px 13px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
  z-index: 10; }
  .btn__menu:hover {
    background-color: #43346d; }

.btn__menu__icon,
.btn__menu__icon::after,
.btn__menu__icon::before {
  content: '';
  height: 2px;
  width: 2.325em;
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms; }

.btn__menu__icon::after {
  top: 7px; }

.btn__menu__icon::before {
  bottom: 10px; }

.btn__menu__icon--active-js {
  background: transparent; }
  .btn__menu__icon--active-js:before {
    bottom: 0;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #fff; }
  .btn__menu__icon--active-js:after {
    top: -2px;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff; }

.nav {
  width: 21em;
  display: none;
  position: fixed;
  right: 1.35em;
  margin-top: 3.625em;
  margin-left: 2em;
  padding: 1em;
  background: #eee;
  font-weight: bold;
  text-align: center;
  z-index: 1; }
  .nav--visible-js {
    display: block;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-name: showMenu;
            animation-name: showMenu;
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }

@-webkit-keyframes showMenu {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  80% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes showMenu {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  80% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
  .nav__item {
    width: 100%;
    height: 3.75em;
    display: block;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    margin-left: -250px;
    opacity: 0;
    transform-origin: top left;
    margin-left: -250px;
    opacity: 0;
    transform-origin: top left;
    margin-left: -250px;
    opacity: 0;
    transform-origin: top left;
    margin-left: -250px;
    opacity: 0; }
    .nav__item:nth-child(1) {
      -webkit-animation-name: showLi;
              animation-name: showLi;
      -webkit-animation-duration: 300ms;
              animation-duration: 300ms;
      -webkit-animation-delay: 100ms;
              animation-delay: 100ms;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .nav__item:nth-child(2) {
      -webkit-animation-name: showLi;
              animation-name: showLi;
      -webkit-animation-duration: 300ms;
              animation-duration: 300ms;
      -webkit-animation-delay: 300ms;
              animation-delay: 300ms;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .nav__item:nth-child(3) {
      -webkit-animation-name: showLi;
              animation-name: showLi;
      -webkit-animation-duration: 300ms;
              animation-duration: 300ms;
      -webkit-animation-delay: 500ms;
              animation-delay: 500ms;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    .nav__item:nth-child(4) {
      -webkit-animation-name: showLi;
              animation-name: showLi;
      -webkit-animation-duration: 300ms;
              animation-duration: 300ms;
      -webkit-animation-delay: 700ms;
              animation-delay: 700ms;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }

@-webkit-keyframes showLi {
  0% {
    -webkit-transform: rotate(45deg) scale(0.1);
            transform: rotate(45deg) scale(0.1);
    margin-left: -250px;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    margin-left: 0;
    opacity: 1; } }

@keyframes showLi {
  0% {
    -webkit-transform: rotate(45deg) scale(0.1);
            transform: rotate(45deg) scale(0.1);
    margin-left: -250px;
    opacity: 0; }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    margin-left: 0;
    opacity: 1; } }
  .nav__anchor {
    display: block;
    color: #696969;
    padding: 1.25em 0.3125em;
    font-size: 1.5rem;
    -webkit-transition: font-size 0.4s ease-out, color 0.4s ease-in;
    transition: font-size 0.4s ease-out, color 0.4s ease-in;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left; }
  .nav__anchor:after {
    font-size: 1rem;
    content: '';
    height: 3px;
    display: block;
    margin: auto;
    width: 10%;
    background: gray;
    -webkit-transition: width 0.4s ease-in-out, background 0.4s ease;
    transition: width 0.4s ease-in-out, background 0.4s ease; }
  .nav__anchor:hover:after {
    width: 100%;
    background: #ccc; }
  .nav__anchor:hover {
    color: black;
    text-decoration: none; }
  .nav__anchor:focus {
    text-decoration: none; }
  .nav header {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /*for IE 6,7*/
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    white-space: nowrap; }

.header__title {
  text-align: center;
  font-weight: bolder;
  text-transform: capitalize; }

.nav__list {
  padding: 0; }

.about__description {
  width: 50%;
  padding: 1.714em;
  font-size: 2rem;
  color: #43346d;
  background-color: #fff; }

.about__paragraphs {
  text-align: justify; }

/*Category styles are :
category
category__btn--close
category__create-task
category__components
btn-success
category--delete-js
tasks-count
tasks-count__title
tasks-count__counter
tasks-count__counter--completed
tasks-count__counter--uncompleted
tasks-count__counter--total
*/
.categories {
  margin-bottom: 0.9em; }

.category {
  margin-top: 0.9em;
  -webkit-animation-name: add-task-cat;
          animation-name: add-task-cat;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes add-task-cat {
  0% {
    opacity: 0; }
  50% {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1; } }

@keyframes add-task-cat {
  0% {
    opacity: 0; }
  50% {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1); }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1; } }

.category__btn--close {
  position: absolute;
  border-radius: 0;
  padding: 0;
  font-size: 0; }

.category__create-task {
  width: 12.42em; }

.category__components {
  padding: 0.714em;
  background-color: #fff; }

.btn__create-task {
  margin-left: 5px;
  padding: 0;
  line-height: 0;
  border-radius: 0;
  font-size: 0; }

.category--delete-js {
  -webkit-animation-name: category-delete;
          animation-name: category-delete;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes category-delete {
  0% {
    opacity: 1; }
  50% {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1); }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0; } }

@keyframes category-delete {
  0% {
    opacity: 1; }
  50% {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1); }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0; } }

.tasks-count {
  width: 12.68em;
  height: 3.57em;
  padding: 0.357em 0;
  background-color: #fff; }

.tasks-count__title {
  float: left;
  line-height: 2; }

.tasks-count__counter {
  font-size: 1.65rem;
  height: 1.5em;
  width: 1.5em;
  float: right;
  display: block;
  margin-right: 0.298em;
  border-radius: 100%;
  text-align: center;
  line-height: 1.4; }

.tasks-count__counter--completed {
  border: 2px solid greenyellow; }

.tasks-count__counter--uncompleted {
  border: 2px solid red; }

.tasks-count__counter--total {
  border: 2px solid #43346d; }

.tasks {
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #43346d; }

/*Create create styles section, contains :
create
create__create
form__options
form__options__select
btn--add-category
*/
.form {
  width: -webkit-calc(10% + 18em);
  width: calc(10% + 18em);
  border: none;
  background-color: #fff; }

.form__title-input {
  width: -webkit-calc(10% + 12em);
  width: calc(10% + 12em); }
  .form__title-input:focus {
    border-color: #43346d; }

.form__options {
  width: -webkit-calc(10% + 16em);
  width: calc(10% + 16em); }

.form__options__select {
  border: 1px solid #43346d;
  border-radius: 5px;
  background-color: #fff;
  float: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .form__options__select:focus {
    outline: #61528b auto 5px; }

.btn--add-category {
  padding: 0.25em;
  line-height: 0;
  color: #43346d;
  background-color: #fff;
  border: none; }
  .btn--add-category:hover {
    color: #574881; }

/*Styles for the Task template, styles used are :
task
task--hide
task--show
task__text
text__checkbox
task__btn__delete
task__btn
task__value
task__value--ready-js
*/
.task {
  width: 100%;
  height: auto;
  padding: 0.714em;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #43346d;
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.task--show {
  -webkit-animation-name: show-task;
          animation-name: show-task;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

@-webkit-keyframes show-task {
  0% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  75% {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
  100% {
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1); } }

@keyframes show-task {
  0% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  75% {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
  100% {
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1); } }

.task--hide {
  -webkit-animation-name: hide-task;
          animation-name: hide-task;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

@-webkit-keyframes hide-task {
  0% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  75% {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
  100% {
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1); } }

@keyframes hide-task {
  0% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  75% {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
  100% {
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1); } }

.task__text {
  color: #333;
  padding-right: 0.714em;
  font-weight: normal;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-line;
  line-height: 2; }

.text__checkbox[type="checkbox"] {
  width: 1.42em;
  height: 1.42em;
  margin-top: 0.357em;
  margin-left: 0.714em;
  margin-right: 0.714em; }

.task__btn__delete {
  padding: 0;
  border: none;
  border-radius: 0;
  color: #43346d;
  background-color: inherit; }

.task__btn__edit {
  padding: 0;
  border-radius: 0;
  line-height: 0;
  border: none;
  color: #43346d;
  background-color: inherit; }

.task__value {
  width: 85%;
  padding: 0;
  background-color: #eae8e8; }

.task__options {
  width: 15%;
  float: right; }

.task__value--ready-js {
  background-color: #81c784; }

/*Edit menu styles are :
edit
edit--show
edit--hide
*/
.edit {
  width: 100%;
  height: auto;
  margin: 0.714em 0;
  padding-top: 0.357em;
  float: left;
  border-radius: 1em;
  -webkit-box-shadow: 0 0.357em 1.78em -021em #333;
          box-shadow: 0 0.357em 1.78em -021em #333; }

.edit--show {
  -webkit-animation: showEdit;
          animation: showEdit;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(1, 0.01, 1, 1.51);
          animation-timing-function: cubic-bezier(1, 0.01, 1, 1.51); }

@-webkit-keyframes showEdit {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

@keyframes showEdit {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

.edit--hide {
  -webkit-animation: hideEdit;
          animation: hideEdit;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(1, 0.01, 1, 1.51);
          animation-timing-function: cubic-bezier(1, 0.01, 1, 1.51); }

@-webkit-keyframes hideEdit {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg); } }

@keyframes hideEdit {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg); } }

.edit__title {
  text-align: center; }

.edit__field {
  width: -webkit-calc(63% + 2em);
  width: calc(63% + 2em);
  height: -webkit-calc(2vw + 10em);
  height: calc(2vw + 10em);
  margin: 0.714em 0 0.714em 0.714em;
  color: #333;
  resize: none;
  border: none;
  border-right: 1px solid #e6e4e4;
  overflow: auto; }

.edit__btns {
  width: 18%;
  height: -webkit-calc(2vw + 10em);
  height: calc(2vw + 10em);
  margin: 0.714em 0;
  float: left;
  background-color: #fff; }

/*General styles*/
html {
  position: relative;
  min-height: 100%; }

body {
  height: 100%;
  width: 100%;
  margin-bottom: 7.14em;
  background-color: #43346d;
  overflow: hidden; }

h4 {
  color: #333; }

main {
  width: 100%;
  position: relative;
  top: -7%;
  overflow: hidden; }

article {
  padding: 0.714em;
  position: relative; }

/* Page Footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  display: inline-block;
  margin-top: 3.51em;
  text-align: center;
  background-color: #fff; }

.footer__link {
  position: relative;
  top: 25%;
  color: #43346d;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none; }

.btn--purple {
  color: #43346d;
  padding: 0.5em;
  background-color: #fff; }

.hidden-js {
  display: none; }

.md-48 {
  font-size: 48px; }

.md-36 {
  font-size: 36px; }
