/*Styles for the Task template, styles used are :
tasks
task
task--hide
task--show
task__text
text__checkbox
task__btn__delete
task__btn
task__value
task__value--ready-js
*/
.tasks {
  padding: 0; }

.task {
  width: 100%;
  height: auto;
  padding: 0.714em;
  position: relative;
  background-color: #fff;
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.task--show {
  -webkit-animation-name: show-task;
          animation-name: show-task;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

@-webkit-keyframes show-task {
  0% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  75% {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
  100% {
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1); } }

@keyframes show-task {
  0% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  75% {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
  100% {
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1); } }

.task--hide {
  -webkit-animation-name: hide-task;
          animation-name: hide-task;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

@-webkit-keyframes hide-task {
  0% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  75% {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
  100% {
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1); } }

@keyframes hide-task {
  0% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }
  75% {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
  100% {
    -webkit-transform: translate(0%) scale(1);
            transform: translate(0%) scale(1); } }

.task__text {
  width: 88%;
  color: #333;
  padding-right: 0.714em;
  font-weight: normal;
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-line;
  line-height: 2; }

.text__checkbox {
  width: 1.42em;
  height: 1.42em;
  margin-top: 0.357em;
  margin-left: 0.714em; }

.task__btn__delete {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0; }

.task__btn__edit {
  margin-right: 1.6em; }

.task__value {
  padding: 0;
  background-color: #eae8e8; }

.task__value--ready-js {
  background-color: #81c784; }
