<div class="edit edit--show  ">
    <h4 class="edit__title">Edit your task:</h4>
    <textarea class="edit__field pull-left">{{text}}</textarea>
    <a href="#" class="btn btn-info pull-left btn-transition">Save</a>
    <a href="#" class="btn btn-danger  btn-cancel pull-left btn-transition">Cancel</a>
</div>
