<li class="task task--show clearfix" data-taskId="{{taskId}}">
    <div class="task__options">
        <a name="remove task" class="task__btn task__btn__delete btn btn-sm pull-right" role="button" title="Delete Task">
            <i class="material-icons">&#xE92B;</i>
        </a>
        <a name="task edit" class=" task__btn task__btn__edit btn btn-sm pull-right" role="button" title="Edit Task">
            <i class="material-icons">&#xE254;</i>
        </a>
    </div>
    <div class="task__value--unready-js task__value">
        <input type="checkbox" class="text__checkbox pull-left" name="name" id="checkbox" value="">
        <p class="task__text ">{{value}}</p>
    </div>
</li>
