$purple: #43346d;
$white: #fff;

.about__description {
    width: 50%;
    padding: 1.714em;
    font-size: 2rem;
    color: $purple;
    background-color: $white;
}

.about__paragraphs {
    text-align: justify;
}
