$purple: #43346d;
$white: #fff;
/*Category styles are :
category
category__btn--close
category__create-task
category__components
btn-success
category--delete-js
tasks-count
tasks-count__title
tasks-count__counter
tasks-count__counter--completed
tasks-count__counter--uncompleted
tasks-count__counter--total
*/
.categories {
    margin-bottom: 0.9em;
}

.category {
    margin-top: 0.9em;
    animation-name: add-task-cat;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes add-task-cat {
    0% {
        opacity: 0;
    }

    50% {
        transform: scaleX(1.10);
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.category__btn--close {
    position: absolute;
    border-radius: 0;
    padding: 0;
    font-size: 0;
}

.category__create-task {
    width: 12.42em;
}

.category__components {
    padding: 0.714em;
    background-color: $white;
}

.btn__create-task {
    margin-left: 5px;
    padding: 0;
    line-height: 0;
    border-radius: 0;
    font-size: 0;
}

.category--delete-js {
    animation-name: category-delete;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes category-delete {
    0% {
        opacity: 1;
    }

    50% {
        transform: scaleX(1.10);
    }

    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

.tasks-count {
    width: 12.68em;
    height: 3.57em;
    padding: 0.357em 0;
    background-color: #fff;
}

.tasks-count__title {
    float: left;
    line-height: 2;
}

.tasks-count__counter {
    font-size: 1.65rem;
    height: 1.5em;
    width: 1.5em;
    float: right;
    display: block;
    margin-right: 0.298em;
    border-radius: 100%;
    text-align: center;
    line-height: 1.4;
}

.tasks-count__counter--completed {
    border: 2px solid greenyellow;
}

.tasks-count__counter--uncompleted {
    border: 2px solid red;
}

.tasks-count__counter--total {
    border: 2px solid $purple;
}

.tasks {
    padding: 0;
    list-style-type: none;
    border-top: 1px solid $purple;
}
