@import "_header";
@import "_about";
@import "_create-task";
@import "_create-cat";
@import "_task";
@import "_edit-menu";
$purple: #43346d;
$white: #fff;
/*General styles*/
html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin-bottom: 7.14em;
    background-color: $purple;
    overflow: hidden;
}

h4 {
    color: #333;
}

main {
    width: 100%;
    position: relative;
    top: -7%;
    overflow: hidden;
}

article {
    padding: 0.714em;
    position: relative;
}
/* Page Footer */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 7.14em;
    display: inline-block;
    margin-top: 3.51em;
    text-align: center;
    background-color: #fff;
}

.footer__link {
    position: relative;
    top: 25%;
    color: $purple;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.btn--purple {
    color: $purple;
    padding: 0.5em;
    background-color: $white;
}

.hidden-js {
    display: none;
}
//material icon  size classes

.md-48 {
    font-size: 48px;
}

.md-36 {
    font-size: 36px;
}
//media queries
@media screen and (min-width: 991px) and (max-width: 1449px) {
    .edit__field {
        width: 60%;
        height: 10.71em;
    }
}
@media screen and (min-width: 1450px) and (max-width: 1635px) {
    .edit__field {
        width: 70%;
    }
}
@media screen and (max-width: 767px) {
    .edit__field {
        width: 70%;
    }
}
@media screen and (max-width: 480px) {
    .create {
        width: 20.14em;
    }

    .create__category {
        width: 14.4em;
    }

    .create__options {
        width: 18.42em;
    }

    .edit__field {
        width: 73%;
    }

    footer {
        height: 4.14em;
    }

    .footer__link {
        font-size: 1.3rem;
    }
}
