  <article class="category" style="background-color:{{bgColor}}">
        <h3 style="color:{{hColor}}">{{title}}</h3>
        <form action="">
        <input class="category__create-task"type="text" name="setInput" placeholder="Add your Task">
        <button  href="#/" class="btn btn-md btn-success btn-transition btn__create-task" name="button">+</button>
        </form>
        <a href="#/" class="category__btn--close btn btn-transition btn-danger">X</a>
        <div class="tasks-count">
        <span title="Tasks count" class="tasks-count__title">Tasks count</span>
        <span title="Total tasks" class="tasks-count__counter--total tasks-count__counter">0</span>
        <span title="Tasks to complete" class="tasks-count__counter--uncompleted tasks-count__counter">0</span>
        <span title="Completed tasks" class="tasks-count__counter--completed tasks-count__counter">0</span>
        </div>
        <ul class="tasks clearfix">
        </ul>
    </article>
