<li class="task task--show row center-block">
        <a name="button" class=" task__btn task__btn__edit btn btn-sm btn-primary pull-right btn-transition">Edit</a>
    <a name="button" class="task__btn task__btn__delete btn btn-sm  btn-danger pull-right btn-transition">X</a>
    <div class="task__value--unready-js task__value col-lg-9 col-md-9 col-sm-10 col-xs-9 ">
        <p class="task__text pull-right">{{value}}</p>
        <input type="checkbox" class="text__checkbox" name="name" id="checkbox" value="">
    </div>
</li>
