  <article class="add-task-cat" style="background-color:{{bgColor}}">
        <h3 style="color:{{hColor}}">{{title}}</h3>
        <form action="">
        <input type="text" name="setInput" placeholder="Add your Task">
        <button  href="#/" class="btn btn-md btn-success btn-transition" name="button">+</button>
        </form>

        <a href="#/" class="btn btn-danger btn-transition">X</a>
        <div class="tasks-count">
        <span title="Tasks count">Tasks count</span>
        <span title="Total tasks" class="total tasks">0</span>
        <span title="Tasks to complete" class="uncompleted tasks">0</span>
        <span title="Completed tasks" class="completed tasks">0</span>
        </div>
        <ul class="tasks clearfix">
        </ul>
    </article>
