<li class="task row show-task pull-right clearfix">
    <div class="pull-right col-lg-3 col-md-4 col-sm-4 col-xs-4">
      <a name="button" class="delete btn btn-md   pull-right btn-transition">X</a>
      <a name="button" class="edit btn btn-md btn-primary pull-right btn-transition">Edit</a>
    </div>
    <div class="pull-right col-lg-9  task-value col-md-8 col-sm-8 col-xs-8 task-unready">
      <p class="text pull-right">{{value}}</p>
      <input type="checkbox" name="name" id="checkbox" value="" >
    </div>
</li>
